# Service: customer-verification

## Attached roles

| Policy ARN | Policy Name |
|------------|-------------|
## Attached Policies

| Policy ARN | Policy Name |
|------------|-------------|
| `arn:aws:iam::aws:policy/ReadOnlyAccess` | [ReadOnlyAccess](../policies.md#readonlyaccess) |

## Allowed Actions

| Action | Service |
|--------|---------|
| [customer-verification:GetCustomerVerificationDetails](../actions.md#customer-verification:getcustomerverificationdetails) | customer-verification |
| [customer-verification:GetCustomerVerificationEligibility](../actions.md#customer-verification:getcustomerverificationeligibility) | customer-verification |